@import 'normalize';
@import 'fonts';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Century Gothic', sans-serif;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

p {
	margin: 0;
}

body {
	line-height: 1.2;
	font-family: 'Century Gothic';
	font-weight: 400;
	color: #000000;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
}

ol,
ul {
	list-style: none;
}

img {
	border: 0;
	vertical-align: middle;
	display: block;
	max-width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	outline: none !important;
	-webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

b,
strong,
.bold {
	font-weight: 700;
}

i {
	font-style: italic;
}

sup {
	font-size: 60%;
	vertical-align: super;
	line-height: 1;
}

body,
html {
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	font-family: 'Century Gothic', sans-serif;
	color: #303030;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

* {
	font-family: 'Century Gothic', sans-serif;
}

body {
	min-height: 100vh;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}
.slide {
	padding: 13.3em 13.7em 2em;
	min-height: 100%;
	margin: 0 auto;
	position: relative;
}

.help-inf {
	margin-top: 1em;
	position: relative;
	z-index: 3;
	text-align: center;

	color: #767171;
}

.help-inf span {
	font-size: clamp(10px, 3em, 25px);
	line-height: 1;
}

.hand {
	position: absolute;
	width: 4em;
	height: 4em;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-25deg);
}

.hand:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(@img/hand-pointer.svg);
	background-repeat: no-repeat;
	background-size: contain;
	animation: wobble-hor-top 2.5s 3s infinite both;
	animation-delay: inherit;
}

.delay1 {
	animation-delay: 1.2s;
}

.delay2 {
	animation-delay: 2.5s;
}

.delay3 {
	animation-delay: 4.5s;
}

@keyframes wobble-hor-top {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: left top;
	}

	15% {
		transform: translateX(-7px) rotate(2deg);
	}

	30% {
		transform: translateX(3px) rotate(-2deg);
	}

	45% {
		transform: translateX(-3px) rotate(0.9deg);
	}

	60% {
		transform: translateX(2px) rotate(-0.6deg);
	}

	75% {
		transform: translateX(-1px) rotate(0.3deg);
	}
}

.title {
	border-left: 2.4em solid #008635;
	padding-left: 5em;
	span {
		font-weight: 700;
		font-size: 11.7em;
		color: #000000;
		position: relative;
	}
	small {
		font-weight: 700;
		font-size: 5.6em;
		color: #000000;
		display: block;
		position: relative;
	}
}

.note {
	position: absolute;
	bottom: 5.7em;
	right: 26em;

	span {
		font-size: clamp(7px, 0.9em, 25px);
		line-height: 1;
		color: #212329;
	}
}
